@use "./variables.scss" as *;

// put your custom CSS here!

a.internal {
  background-color: transparent !important;
}

[saved-theme="dark"] {
  --graph-line: #ff0000 !important;
}

[saved-theme="light"] {
  --graph-line: #ffff00 !important;
}
